body {
  background-image: url("./media/windows-xp-background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.desktop__icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 70px;
  padding: 20px;
}
.icons__title {
  text-align: center;
  font-size: 12px;
  word-wrap: break-word;
  width: 60px;
}
.icon {
  height: 32px;
  width: 32px;
  padding-top: 10px;
  padding-left: 15px;
}
.desktop__taskbar {
  position: absolute;
  bottom: 0;
  background-color: rgb(33, 97, 223);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 1px 5px 2px rgba(73, 145, 237, 255) inset;
}
.desktop__taskbar--homebar {
  width: 120px;
}
.desktop__taskbar--widget {
  background-color: rgb(6, 157, 239);
  width: 100px;
  border-left: 2px, solid, black;
  display: flex;
  justify-items: center;
  align-items: center;
  box-shadow: 1px 1px 5px 2px rgba(43, 174, 240, 255) inset;
}
.time {
  font-size: 12px;
  justify-self: flex-start;
}

.desktop__taskbar--app {
  height: 40px;
  background-color: rgb(54, 129, 244);
  width: 80px;
}
.desktop__taskbar--icons {
  width: 100%;
  height: 100%;
}
footer {
  background-color: black;
}
.app--shown {
  display: block;
}
.app--hidden {
  display: none;
}
.app__header {
  margin: 0;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  background-color: rgba(0, 84, 227, 255);
  box-shadow: 1px 1px 5px 2px rgba(45, 145, 253, 255) inset;
}
.app__header--text {
}
.app__header--icon {
  margin: 0;
  padding-left: 84%;
}
.app {
  border: 2px solid rgba(0, 84, 227, 255);
}
.app__settings {
  background-color: rgba(236, 233, 216, 255);
  height: 20px;
}
.app__content {
  background-color: white;
  height: 500px;
}
